<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="connection.url">jdbc:mysql://localhost/gestorpublico?useTimezone=true&amp;serverTimezone=UTC</property>
		<property name="connection.verifyServerCertificate">true</property>
		<property name="connection.useSSL">false</property>
		<property name="connection.autoReconnect">true</property>
		<property name="connection.username">root</property>
<!--		<property name="connection.password">root</property>-->
		<property name="connection.password">cassms</property>
		<property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>
		
		<property name="show_sql">false</property>
		<property name="format_sql">false</property>

<!-- 		<property name="hbm2ddl.import_files">import.sql</property> -->
<!--		<property name="hibernate.connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>-->
<!--		<property name="hibernate.temp.use_jdbc_metadata_defaults">false</property>				&lt;!&ndash; RESOLVE ERRO: Disabling contextual LOB creation as createClob() method threw error &ndash;&gt;-->
<!--		<property name="hibernate.c3p0.statementCacheNumDeferredCloseThreads">1</property>		&lt;!&ndash; SOLUÇÂO: APPARENT DEADLOCK!!! &ndash;&gt;-->
<!--		<property name="hibernate.c3p0.min_size">30</property>									&lt;!&ndash; Mínimo de conexão &ndash;&gt;-->
<!--		<property name="hibernate.c3p0.max_size">300</property>									&lt;!&ndash; Máximo de conexão &ndash;&gt;-->
<!--		<property name="hibernate.c3p0.acquire_increment">5</property>							&lt;!&ndash; Incremento de conexão &ndash;&gt;-->
<!--		<property name="hibernate.c3p0.idle_test_period">650</property>							&lt;!&ndash; Broken pipe: Tempo de teste de inatividade para descartar conexão &ndash;&gt;-->
<!--		<property name="hibernate.c3p0.timeout">1200</property>									&lt;!&ndash; Tempo máximo para conexão expirar &ndash;&gt;-->
<!--		<property name="hibernate.c3p0.max_statements">20</property> &lt;!&ndash; 50 &ndash;&gt;				&lt;!&ndash; Statements que serão adicionados no cache &ndash;&gt;-->
<!--		<property name="hibernate.c3p0.numHelperThreads">4</property>							&lt;!&ndash; Quantidade de Threads simultaneas&ndash;&gt;-->

		<mapping class="org.gestorpublico.entidade.Bairro" />
		<mapping class="org.gestorpublico.entidade.Beneficio" />
		<mapping class="org.gestorpublico.entidade.Condominio" />
		<mapping class="org.gestorpublico.entidade.Edificio" />
		<mapping class="org.gestorpublico.entidade.Funcao" />
		<mapping class="org.gestorpublico.entidade.Log_Alteracao" />
		<mapping class="org.gestorpublico.entidade.Log_Erro_Execucao" />
		<mapping class="org.gestorpublico.entidade.Modulo" />
		<mapping class="org.gestorpublico.entidade.Modulo_Acao" />
		<mapping class="org.gestorpublico.entidade.Municipio" />
		<mapping class="org.gestorpublico.entidade.Objeto" />
		<mapping class="org.gestorpublico.entidade.Pais" />
		<mapping class="org.gestorpublico.entidade.Pessoa" />
		<mapping class="org.gestorpublico.entidade.Pessoa_Beneficio" />
		<mapping class="org.gestorpublico.entidade.Pessoa_Dependente" />
		<mapping class="org.gestorpublico.entidade.Pessoa_Endereco" />
		<mapping class="org.gestorpublico.entidade.Pessoa_Servico" />
		<mapping class="org.gestorpublico.entidade.Poder" />
		<mapping class="org.gestorpublico.entidade.Poder_Setor" />
		<mapping class="org.gestorpublico.entidade.Poder_Setor_Funcao" />
		<mapping class="org.gestorpublico.entidade.Poder_Setor_Pessoa" />
		<mapping class="org.gestorpublico.entidade.Ponto_Referencia" />
		<mapping class="org.gestorpublico.entidade.Rua" />
		<mapping class="org.gestorpublico.entidade.Sequencial" />
		<mapping class="org.gestorpublico.entidade.Servico" />
		<mapping class="org.gestorpublico.entidade.Setor" />
		<mapping class="org.gestorpublico.entidade.Sexo" />
		<mapping class="org.gestorpublico.entidade.Tipo" />
		<mapping class="org.gestorpublico.entidade.UF" />
	</session-factory>
</hibernate-configuration>
