@charset "UTF-8";

:root {
	--main-bg-color: black;
	--main-color: white;
}

body {
	background-color: var(--main-bg-color);
	color: var(--main-color);
}

#divListBilhetes {
    background-color: green;
}

#divListBilhetes > .divBilhete {
	border-radius: 3px;
    cursor: pointer;
    background-color: red !important;
    border: solid 1px white;
    width: fit-content;
    height: 25px;
    padding: 0px;
    margin: 3px 2px;
    text-align: center;
    display: inline-flex;
}

#divListBilhetes > .divBilhete > .divNumeros  {
	display: inline-flex;
	background-color: #28a745;
	border-radius: 2px 0px 0px 2px;
}

#divListBilhetes > .divBilhete > .btnClose, #divListBilhetes > .divBilhete .selecionado > .btnClose {
    color: white;
    padding: 2px 6px;
    font-weight: bold;
    font-size: 13px;
}

.selecionado > .divNumeros {
	background-color: #dc3545 !important;
}

.divNumeros > .n {
	display: inline-block;
    margin: -1px 3px 0px 3px;
}

.card {
	margin-bottom: 15px;
}

div.tooltip-inner {
	background-color: #f60 !important;
}

div.bs-tooltip-top .arrow::before {
	border-top-color: #f60 !important;
}

div.bs-tooltip-bottom .arrow::before {
	border-bottom-color: #f60 !important;
}

div.bs-tooltip-left.arrow::before {
	border-left-color: #f60 !important;
}

div.bs-tooltip-right .arrow::before {
	border-right-color: #f60 !important;
}

.table > thead > tr {
	background-color: #000;
	color: white;
} 

.btn-semLabel {
	margin-top: 32px;	
}

.btn-xs {
	padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.padding-align {
	padding-left: 0px !important;
}

.padding-left  {
	padding-left: 0px !important;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: red;
   color: white;
   text-align: center;
}

li.logado {
	list-style-type: none;
}

#formLogin > input {
	border-radius: 5px;
	width: 110px;
	text-indent: 5px;
}

a.btn-num.cassTip:hover::after {
	content: attr(data-title);
	position: absolute !important;
	background: rgba(0,0,0,0.75);
	color: white;
	position: relative;
	border-radius: 25px;
	padding: 10px;
	font-weight: normal;
}

.selecionado {
	color: white !important;
	background-color: #dc3545 !important;
}

.reserved {
	color: white !important;
	background-color: #ffc107 !important;
	cursor: not-allowed!important;
}

.paid {
	color: white !important;
	background-color: #28a745 !important;
	cursor: not-allowed!important;
}

.main-selected-numbers span {
	font-size: 22px;
	line-height: 32px;
	text-align: center;
	display: block;
	margin-top: 10px;
	background-color: #fff;
	color: #000;
	border-top-left-radius: .3rem;
	border-top-right-radius: .3rem;
	font-weight: 700;
}

.bg-202020 {
	background-color: rgb(20,20,20);
	color: white;
}

.bg-202020 > a {
	text-decoration: none;
	color: white;
}

ul#numers li a {
	min-width: 50px;
	background-color: #585858;
	color: white !important;
	margin: 2px 3px;
	padding: 5px 0px;
	font-weight: bold;
}

a.btn-num {
	margin: 2px 2px!important;
	min-width: 56px!important;
	background-color: #585858;
	color: white!important;
}

a.btn-num.cassTip:hover::after {
	content: attr(data-title);
	position: absolute !important;
	background: rgba(0,0,0,0.75);
	color: white;
	position: relative;
	border-radius: 25px;
	padding: 10px;
	font-weight: normal;
}

ul#acoes > li.btn {
    margin: 0px 3px !important;
}

/* BG-COLORS */
.bg-orange {
	background-color: #ff6600;
}

.bg-black{
	background-color: black;
	color: white !important;
}

.numeroPassos {
	font-size: 260px;
    color: rgba(0,0,0,0.2);
    position: absolute;
    margin: 0;
    padding: 0;
    top: -40px;
    left: -10px;
    line-height: 320px;
    vertical-align: middle;
    font-weight: bold;
    z-index: 0;
    font-family: 'Montserrat', sans-serif;
}

.card-link {
	text-decoration: none;
}

div.sorteios {
	position: relative;
	margin-top: -65px;
	z-index: 40;
}
	
@media (max-width: 992px) {
	div.sorteios {
		margin-top: -50px !important;
	}
}

@media (max-width: 768px) {
	div.sorteios {
		margin-top: -35px !important;
	}
}

@media (max-width: 576px) {
	div.sorteios {
		margin-top: -25px !important;
	}
	
	.container {
		max-width: 400px !important;
	}
	
	.card {
		margin-bottom: 25px !important;
	}
}

.nav-item {
	font-weight: bold !important;
}

.nav-item > a {
	color: white !important;
}

.nav-item > a:hover {
	color: rgb(255,102,0) !important;
}

div.sorteios > div.container {
	padding: 25px 35px;
	border-radius: 20px;
	border: 1px solid #4e4e4e;
	background-color: #272727 !important;
	color: white;
}

ul#menu-menu-rodape > li::marker {
	font-size: 0;
}

/* BOTAO FAB ****************** */
.btn-group-fab {
	position: fixed;
	width: 50px;
	height: auto;
	right: 20px;
	bottom: 20px;
}

.btn-group-fab div {
	position: relative;
	width: 100%;
	height: auto;
}

.btn-group-fab .btn {
	position: absolute;
	bottom: 32px;
	border-radius: 50%;
	display: block;
	margin-bottom: 4px;
	width: 40px;
	height: 40px;
	margin: 4px auto;
}

.btn-group-fab .btn-main {
	width: 80px;
	height: 80px;
	right: 80%;
	margin-right: -25px;
	z-index: 9;
}

.btn-group-fab .btn-sub {
	bottom: 0;
	z-index: 8;
	right: 50%;
	margin-right: -20px;
	-webkit-transition: all 2s;
	transition: all 0.5s;
}

.btn-group-fab.active .btn-sub:nth-child(2) {
	bottom: 60px;
}

.btn-group-fab.active .btn-sub:nth-child(3) {
	bottom: 110px;
}

.btn-group-fab.active .btn-sub:nth-child(4) {
	bottom: 160px;
}

.btn-group-fab .btn-sub:nth-child(5) {
	bottom: 210px;
}
