html, body {
	margin:0;
	padding:0;
/* 	height:100%; */
	font-family: "Open Sans", sans-serif;
	zoom: 100%;
}

* {box-sizing: border-box;}

.btn120 {
	min-width: 120px !important;
	text-align: left;
}

.divisor {
	background-color: red;
	height: 10px;
}

.divRequerimentoModalVerTitulo {
	background-color: #bce8f1;
	height: 26px;
	border-radius: 5px;
	margin-bottom: 10px;
}

.divRequerimentoModalVerTitulo > span {
	position: relative;
	top: 3px;
	padding: 10px !important;
	font-weight: bold;
}

.verificado {
	background-color: #00800026 !important;
}

.devolvido {
	background-color: #ffc107 !important;
}

.btnGerarNota {
	float: right;
    position: relative;
    top: -24px;
    color: white !important;
    border-radius: 15px;
}

.divLegenda > div {
	width: 35px;
    height: 15px;
    float: left;
    background-color: #ffc107;
    margin-right: 3px;
}

.divLegenda > span {
	position: relative;
	top: -3px;
	font-weight: bold;
}

.check {
	transform: scale(1.3);
}

.nova {
	padding: 5px 12px !important;
    margin-top: -26px;
    margin-left: 3px;
    float: right;
}

.btnExcluirJogo {
	position: absolute;
    float: right;
    top: 0px;
    right: 25px;
    color: red;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}

.row-align {
	padding-left: 15px;
}

.tituloMensagem {
	color: white;
}

.abaSubtitulo {
	font-size: 15px;
    font-weight: bold;
	padding: 3px 0px 3px 15px;
	background-color: #003b4421;
}

.brasao {
	width: 148px !important;
}

.brasaoTexto {
	width: 392px !important;
	font-size: 12px;
	font-weight: bolder;
	text-align: center;
}

.divisaoTitulo {
	text-align: center;
	background-color: #ccc;
	font-weight: bolder;
	font-size: 18px;
}

.divLabel {
	background-color: #ccc;
	text-indent: 5px;
	font-weight: bold;
	width: auto;
	padding-right: 6px;
}

.divConteudo {
	text-indent: 5px;
	font-weight: bold;
}

.divTH {
	background-color: #ccc;
	font-weight: bold;
}

.divAssinatura {
	width: 344px !important;
	text-align: center;
	font-size: x-small;
}

.divTabelaConteudo {
	font-size: 12px;
	text-align: justify;
}

span.pmse {
	font-size: 13px;
}

span.qcg {
	font-size: 12px;
}

span.nti {
	font-size: 10px;
	font-weight: normal;
}

nav {
	font-family: "Open Sans", sans-serif !important;
}

.iconeBotao {
	cursor: pointer !important;
}

.admissaoTitulo {
	text-align: center;
	background-color: #2d982d;
}

.demissaoTitulo {
	text-align: center;
	background-color: #ad3d3d;
}

.admissao {
	background-color: #2d982d;
	text-indent: 5px;
}

.demissao {
	background-color: #ad3d3d;
	text-indent: 5px;
}

.padding-zero {
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.soLink {
	color: black !important;
	cursor: pointer;
	border: solid 1px lightgray;
    padding: 3px 7px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 11px;
}

.soLinkBlack {
	color: black !important;
	cursor: pointer;
	border: solid 1px lightgray;
    padding: 3px 7px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 11px;
}

.transfCancelada {
	color: white !important;
	background: #ff050080 !important;
}

#btnNovoBol {
	padding: 5px 12px !important;
	margin-top: -26px;
    float: right;
}

#btnNovaNota {
	padding: 5px 12px !important;
	margin-top: -26px;
    float: right;
}

div.foto > img {
	width: inherit;
	max-width: 100%;
	height: auto;
	max-height: 193px;
	background-color: white;
	border: solid 1px #ddd;
	padding: 4px;
}

div.divisor > label {
	padding-left: 5px;
	width: 100%;
	background-color: #d9edf7;
	border-bottom: solid 1px #bce8f1;
}

.form-control:required {
    border: 1px solid red;
}

.accordionAno {
	position: relative;
	top: -19px;
	float: right;
}

#cssmenu a:hover {
	color: yellow !important;
}

#spOops, #sp500, #sp404, #sp403, #spErro, #spNotFound {
	color: white;
	font-size: 40px;
}

.botao {
	cursor: pointer;
}

.selectDireita {
	text-align-last: right;
}

.selectDireita option {
	direction: rtl;
}

tr.group, tr#lnGrupo {
	font-weight: bold !important;
	text-transform: uppercase !important;
	background-color: rgba(32, 77, 116, 0.39) !important;
}

tr.group > td, tr#lnGrupo > td {
	border-left: none !important;
	border-right: none !important;
}

.esquerda {
	text-align: left;
}

.centro {
	text-align: center;
}

.direita {
	text-align: right;
}

#cssmenu a {
	cursor: pointer;
}

table > thead > tr[role="row"] {
	background-color: #204d74;
	color: white;
}

.decimal {
	text-align: right;
}

.blue {
	color: blue;
}

.darkred {
	color: darkred;
}

.branco {
	color: white;
}

.preto {
	color: black;
}

.azul {
	color: blue;
}

.verde {
	color: green;
}

.bgVerde {
	background-color: green !important;
}

.vermelho {
	color: red;
}

.amarelo {
	color: yellow;
}

.ouro {
	color: #ffbf00;
}

.bgVermelho {
	background-color: red;
}

.green {
	color: green;
}

.red {
	color: red;
}

.blue {
	color: blue;
}

.negrito {
	font-weight: bold;
}

.copy {
	float: left;
    margin-top: 2px;
    margin-right: 2px;
}

.copy-position {
	position: absolute;
    top: 5px;
    right: 16px;
}

#copy {
	color: inherit !important;
}

.container a.acctive {
  	color: #5E6667!important;
}

.container i {
	margin-right: 5px !important;
}
.container {
    height:100%;
}

.cont {
	width: 100% !important;
}

.container a {
    color:#fff;
    text-decoration:none !important;
    padding:0px 0px 7px 0px;
    width:100%;
    display:block;
}

.container li {
    padding: 4px 0px 0px 7px;
    width:100%;
    color:#fff;
    border-bottom: 1px solid #303738;
}
.container ul {
	list-style-type:none !important;
	padding-left: 0px !important;
}

.container > ul {
    background-color:transparent;
    position:relative;
    overflow:visible;
}

.container > ul > li > a.active{color: #5E6667 !important;}

.container > ul li ul li ul li{border: none !important;}

#menuLateral li a:hover {color: #5E6667 !important;}

.container > ul > li > ul {
	display: block;
}
.container > ul > li > ul > li {
	padding-left: 20px;
	border: none;
}

.container > ul > li > ul > li > a:hover {
	color: #5E6667 !important;
}
.plus {
	font-size: 9px !important;
    margin-right: 0px;
    margin-top: 6px;
}

.minus {
	font-size: 9px !important;
    margin-right: 0px;
    margin-top: 8px;
} 
.right {
	float: right;
}
.ui-autocomplete {
	max-height: 100px;
	/* width:100% !important; */
	overflow-y:auto;
	/* prevent horizontal scrollbar */
	overflow-x: hidden;
	background-color: white !important;
	border: 1px solid #c0c0c0; 
}
/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
* html .ui-autocomplete {
	height: 100px;
}
.ui-menu .ui-menu-item a:hover {
	background-color: #dceaf5;
}
.autocomplete-input {
	padding-top: 0px !important;
    padding-bottom: 0px !important;
    height: 30px !important;
}
.bs-example-popover .popover {
position: relative;
display: block;
float: left;
margin: 20px;
}

.tituloLogin {
	  color: white;
  	  font-size: 20px;
  	  font-weight: bold;
  	  padding-top: 45px;
}
.subtituloLogin {
	  color: white;
	  margin-top: 55px;
	  margin-left: 120px;
	  font-family: Marvel, sans-serif;
	  font-size: 16px;
}

.margin-inputs {
	margin-bottom: 10px;
}

.forget-password {
	margin-left: 120px;
  	font-size: 12px;
  	margin-bottom: 20px;
}
.column-style{
	border: 1px solid rgba(0, 0, 0, .2);
	border-radius: 6px;
	outline: 0;
	background-clip: padding-box;
	position: relative;
	box-shadow: 0 5px 15px rgba(0, 0, 0, .5);	
	padding: 0px;
	width: 278px;
	background-color: #003b44;
}

.div-petroleo {
	height: 100px;
	background-color: #003b44;
	text-align: center;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.form-padding {
	padding: 20px 20px;
	background-color: white;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	font-family: Marvel, sans-serif
}

/* .text {
	text-align:center;
	margin-bottom: 20px;
} */

.date-width {
	width: 180px !important;
}

.div-checkbox {
	padding-top: 1px !important;
}
.checkbox-details {
	font-size: 12px;
}
.form-control-select {
	padding:0px !important;
	height: 30px;
}
.text-area {
	resize: none !important;
}
.title-size {
	font-size: 45px !important;
}
.button-olive {
	background-color: #3d9970 !important;
	border-color: transparent !important;
	margin-top: 20px;
}
.button-size {
	width: 100% !important;
}

.row-margin {
	margin-top: 20px;
	margin-bottom: 20px;
}
.close-color-size {
	color: #fff !important;
	font-size: 12px !important;
}
.tabs-labels {
	margin-top: 10px;
}
.modal-width {
	width: 300px !important;
}

.padding-link {
	display: block;
    width: 100%;
    cursor: pointer;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
    -moz-animation: spin2 .7s infinite linear;
}

@-moz-keyframes spin2 {
  from { -moz-transform: rotate(0deg);}
  to { -moz-transform: rotate(360deg);}
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

#aguardeAlert {
	font-size: 20px;
	margin-right:3px;
}

#msgAguarde {
	font-size: 20px;
}

.padding-align {
	padding-left: 0px !important;
}

.a-tooltip-margin {
	float: left;
    margin-top: 30px;
    margin-right: 10px;
}

.padding-left  {
	padding-left: 0px !important;
}

.btn-novo-telefone {
	padding: 8px 12px !important;
	margin-bottom: 12px;
    float: left;
    margin-left: 16px;
}

.inputFile input {
	
	opacity: 0;
	filter: alpha(opacity = 0);
	cursor: pointer;
	margin-top: -20px;
}

.prepend-top {
	margin-top: 20px;
}

.prepend-bottom {
	margin-bottom: 20px;
}